@import "tailwindcss";

@theme {
  --color-primary-400: oklch(58.31% 0.226 262.12);
  --color-primary-500: oklch(53.22% 0.258 262.61);
  --color-primary-900: oklch(16.4% 0.0573 256.62);
  --color-secondary-700: oklch(13.44% 0 0);
}
