---
interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<details class="bg-secondary-700 rounded-xl border border-white/10 text-white">
  <summary class="list-none px-10 py-7 text-lg">
    <h3>{title}</h3>
  </summary>
  <p class="-mt-5 px-10 pb-7 text-white/30">
    {content}
  </p>
</details>
