---
interface Props {
  content: string;
}

const { content } = Astro.props;
---

<li class="my-5 flex items-center gap-2">
  <svg viewBox="0 0 23 23" id="svg11447832664" class="h-6">
    <path
      d="M 21.323 11.5 C 21.304 10.825 21.098 10.167 20.727 9.601 C 20.357 9.037 19.836 8.585 19.224 8.299 C 19.457 7.664 19.506 6.977 19.37 6.316 C 19.233 5.653 18.913 5.042 18.448 4.552 C 17.957 4.087 17.347 3.768 16.684 3.63 C 16.023 3.494 15.336 3.543 14.701 3.776 C 14.416 3.162 13.965 2.641 13.4 2.271 C 12.834 1.901 12.176 1.694 11.5 1.677 C 10.825 1.695 10.169 1.9 9.605 2.271 C 9.04 2.642 8.592 3.164 8.308 3.776 C 7.673 3.543 6.984 3.492 6.32 3.63 C 5.656 3.766 5.044 4.086 4.553 4.552 C 4.088 5.043 3.77 5.655 3.635 6.317 C 3.499 6.978 3.551 7.665 3.786 8.299 C 3.172 8.585 2.649 9.036 2.277 9.6 C 1.905 10.165 1.697 10.824 1.677 11.5 C 1.698 12.176 1.905 12.834 2.277 13.4 C 2.649 13.964 3.172 14.416 3.786 14.701 C 3.551 15.335 3.499 16.022 3.635 16.683 C 3.771 17.346 4.088 17.957 4.552 18.448 C 5.043 18.911 5.654 19.229 6.316 19.366 C 6.977 19.504 7.664 19.454 8.299 19.224 C 8.585 19.836 9.036 20.357 9.601 20.728 C 10.166 21.098 10.825 21.304 11.5 21.323 C 12.176 21.306 12.834 21.1 13.4 20.73 C 13.965 20.36 14.416 19.837 14.701 19.225 C 15.333 19.475 16.025 19.534 16.691 19.396 C 17.356 19.258 17.966 18.929 18.447 18.448 C 18.928 17.967 19.258 17.357 19.396 16.691 C 19.534 16.025 19.475 15.333 19.224 14.701 C 19.836 14.415 20.357 13.964 20.728 13.399 C 21.098 12.834 21.304 12.175 21.323 11.5 Z M 10.101 15.525 L 6.516 11.941 L 7.868 10.58 L 10.034 12.746 L 14.634 7.734 L 16.042 9.037 Z"
      fill='var(--token-f951c3a8-aa43-4825-aa75-915aa92c20d1, rgb(0, 85, 255)) /* {"name":"Blue"} */'>
    </path><path
      d="M 8 10.5 L 6.5 12 L 10 15.5 L 16 9 L 14.5 7.5 L 10 12.5 Z"
      fill='var(--token-59e77027-930e-45f7-94aa-a8ffadf9e382, rgb(255, 255, 255)) /* {"name":"White"} */'>
    </path>
  </svg>
  <span>{content}</span>
</li>
