---
import JoinUsCard from "./JoinUsCard.astro";
---

<div class="text-white">
  <div class="container mx-auto mt-48 grid content-center px-5">
    <section class="max-w-lg sm:max-w-3xl">
      <h1 class="text-6xl capitalize sm:text-7xl md:text-8xl">
        Premium agency
        <span class="lowercase">for</span>
        creatives.
      </h1>
      <p class="my-7 max-w-xs text-pretty text-white/60 sm:max-w-sm">
        We specialize in crafting unique digital presence that help businesses
        grow and stand out in their industries.
      </p>
      <div class="flex flex-wrap gap-4">
        <a
          href="/contact"
          class="rounded-lg bg-white px-4 py-3 text-black capitalize">
          Connect with us
        </a>
        <a href="/about" class="rounded-lg bg-white/15 px-4 py-3">
          What is Nyxia?
        </a>
      </div>
      <div
        class="mt-10 mb-5 h-0.5 w-72 bg-linear-to-r from-transparent via-white/20 to-transparent">
      </div>
    </section>
  </div>
</div>

<div class="container mx-auto flex h-lvh items-center justify-center px-5">
  <JoinUsCard />
</div>
