---
import { twMerge } from "tailwind-merge";

interface Props {
  imgSrc: string;
  alt?: string;
  height?: string;
  width?: string;
  className?: string;
}

const { imgSrc, height, width, alt, className } = Astro.props;
---

<div
  class="relative inline-flex justify-center rounded-4xl border border-white/10 bg-black p-2.5">
  <img
    src={imgSrc}
    height={height}
    width={width}
    alt={alt ?? ""}
    class={twMerge("rounded-3xl object-cover border border-white/10", className)}
  />
  <div
    class="via-primary-500 absolute -bottom-[1px] z-[1] h-[1px] w-64 bg-gradient-to-l from-transparent to-transparent">
  </div>
  <div
    class="bg-primary-500 absolute bottom-0 -z-10 h-14 w-64 rounded blur-2xl">
  </div>
</div>
