---
import logo from "../../public/favicon.svg";
import "../styles/global.css";

const pathname = Astro.url.pathname;
const navLinks = [
  { name: "Home", path: "/" },
  { name: "About", path: "/about" },
  { name: "Portfolio", path: "/portfolio" },
  { name: "Contact", path: "/contact" },
  { name: "FAQ", path: `${pathname}#faq` },
];
---

<header class="border-b z-10 md:bg-black/20 backdrop-blur-3xl border-white/10 px-5 py-7">
  <div class="max-md:flex-col flex container mx-auto">
    <div class="mr-5 flex gap-5 items-center">
      <a href="/">
        <img class="h-10 w-10" src={logo.src} />
      </a>
      <div class="hidden md:block w-[1px] mr-2.5 h-6 bg-gradient-to-b from-white/10 via-white/50 to-white/10"></div>
      <button id="nav-btn" class="md:hidden hover:cursor-pointer text-white p-3 pl-0">
        <div class="h-0.5 rounded bg-white w-4 mb-2"></div>
        <div class="h-0.5 rounded bg-white w-4"></div>
      </button>
    </div>
    <div id="nav-container" class="flex text-center max-md:flex-col items-center flex-grow text-white/60 justify-between max-md:hidden">
      <nav id="primary-nav">
        <ul class="max-md:flex-col gap-7 md:gap-10 flex max-md:mt-16">
          {
            navLinks.map((link) => (
              <li>
                <a href={link.path} class={`hover:text-white ${pathname == link.path && "text-white"}`}>
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <a href="/contact" class="max-md:mt-7 p-1 max-md:w-full max-md:mx-3 bg-primary-400 rounded-lg font-semibold">
        <div class="bg-primary-500 rounded-md py-1 px-4">Contact Now</div>
      </a>
    </div>
  </div>
</header>

<script>
  const navButton = document.querySelector("button#nav-btn");
  navButton?.addEventListener("click", () => {
    const navContainer = document.querySelector("#nav-container");
    navContainer?.classList.toggle("max-md:hidden");
  });
</script>
