---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h2
  class="from-primary-500/10 relative mb-4 inline-flex items-center justify-center gap-1.5 rounded-lg border border-white/10 bg-gradient-to-t to-gray-900/50 px-3 py-2 backdrop-blur-2xl sm:mb-7">
  <span
    class="via-primary-500 absolute -top-[1px] inline-block h-[1px] w-1/2 bg-gradient-to-l from-transparent to-transparent">
  </span>
  <span class="inline-block h-1.5 w-1.5 rounded-full bg-white"></span>
  <span class="capitalize">{title}</span>
</h2>
