---
import Navbar from "../components/Navbar.astro";
import backgroundVideo from "../assets/bg.webm";
import backgroundVideoThumbnail from "../assets/bg-thumbnail.avif";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>Nyxia</title>
  </head>
  <body class="bg-black">
    <Navbar />
    <slot />
    <video class="object-cover top-0 absolute -z-10 h-[800px] min-w-full pointer-events-none bg-red" autoplay muted playsinline loop src={backgroundVideo} poster={backgroundVideoThumbnail.src}
    ></video>
    <div class="absolute inset-0 bottom-50 h-[800px] bg-gradient-to-t from-black -z-10 via-black/10 to-transparent"></div>
  </body>
</html>
