---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import backgroundVideo from "../assets/bg.webm";
import backgroundVideoReduced from "../assets/bg-reduced.webm";
import backgroundVideoThumbnail from "../assets/bg-thumbnail.avif";
import "../styles/global.css";
import JoinUsCard from "../components/JoinUsCard.astro";
import Faq from "../components/Faq.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="darkreader-lock" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content="{Astro.generator}" />
    <title>Nyxia</title>
  </head>
  <body class="bg-black">
    <Navbar />
    <slot />
    <Faq />
    <div class="flex items-center justify-center px-5 py-24">
      <JoinUsCard />
    </div>
    <Footer />
    <div class="absolute top-0 -z-10 h-[800px] w-full overflow-hidden">
      <video
        id="bg-video"
        playsinline
        muted
        autoplay
        loop
        poster={backgroundVideoThumbnail.src}
        class="bg-red pointer-events-none h-full min-w-full object-cover blur-lg">
        <source src={backgroundVideoReduced} type="video/webm" />
        <source src={backgroundVideo} type="video/webm" />
      </video>
    </div>
    <div
      class="absolute inset-0 bottom-50 -z-10 h-[800px] bg-gradient-to-t from-black via-black/10 to-transparent">
    </div>
    <div class="fixed inset-0 top-auto h-5 backdrop-blur-[2px]"></div>
  </body>
</html>
